.about {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.about-row {
    padding-top:2em;
    padding-bottom:2em;
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    padding-left: 2em;
    padding-right: 2em;
}

.about-pics {
    display: flex;
    flex-direction: row;
    width:60%;
    justify-content: center;
    align-items: center;
}

.about-text .section-flag {
    color: #00BCD4;
    width: 100%;
    text-align: right;
    display: block;
    margin-bottom: 1em;
}

.big-text-about {
    font-size: 16px;
    line-height: 28px;
    margin-top: 2em;
    text-align: right;
}

.about-pics > .bedroom-img {
    margin-right: 1em;
}

.big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 56px;
    color: #1F1F1F;
    text-align: right;
}

.bedroom-img {
    max-width: 350px;
}

.bedroom-img img {
    border-radius: 5px;
    height: auto;
    max-width: 100%;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    .about-row {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .section-flag {
        text-align: center !important;
    }

    .big-title {
        font-size: 3vh;
        text-align: center;
        width:100%;
    }

    .big-text-about {
        text-align: center;
        width: 90%;
        margin-bottom: 1.5em;
    }

    .about-text {
        padding: 0;
    }

    .about-pics {
        margin-top: 1em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-pics > .bedroom-img {
        margin-bottom: 1.5em;
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media screen and (max-width: 1024px) {
    .about-text, .about-pics {
        width: 100%;
    }
}